<p id="notice"><%= notice %></p>

<p>
  <strong>Playername:</strong>
  <%= @gen2_entry.player_name %>
</p>

<p>
  <strong>Playtime:</strong>
  <% minutes, seconds = @gen2_entry.playtime.divmod(60) %>
  <% hours, minutes = minutes.divmod(60) %>
  <%= "#{hours.to_s.rjust(2, '0')}:#{minutes.to_s.rjust(2, '0')}:#{seconds.to_s.rjust(2, '0')}" %>
</p>

<p>
  <strong>Johto badges:</strong>
  <%= @gen2_entry.johto_badges %>
</p>

<p>
  <strong>Kanto badges:</strong>
  <%= @gen2_entry.kanto_badges %>
</p>

<p>
  <strong>Party:</strong>
  <%= render @gen2_entry.gen2_party %>
</p>

<p>
  <strong>Hall of fame</strong>
  <%= render @gen2_entry.gen2_hall_of_fame_entries %>
</p>

<%= link_to 'Edit', edit_gen2_entry_path(@gen2_entry) %> |
<%= link_to 'Back', gen2_entries_path %>
