<div class="pokemon">
  <img class="pokemon-sprite" width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= "shiny/" if gen2_pokemon.is_shiny? %><%= gen2_pokemon.pokemon_id %>.png"/>
  <table class="pokemon-table">
    <tbody>
    <tr>
      <th>Pokedex ID</th>
      <td><%= gen2_pokemon.pokemon_id %></td>
    </tr>
    <tr>
      <th>Nickname</th>
      <td><%= gen2_pokemon.nickname %></td>
    </tr>
    <% unless gen2_pokemon.max_hp.nil? %>
      <tr>
        <th>HP</th>
        <td><%= gen2_pokemon.current_hp %>/<%= gen2_pokemon.max_hp %></td>
      </tr>
    <% end %>
    <tr>
      <th>Level</th>
      <td><%= gen2_pokemon.level %></td>
    </tr>
    <tr>
      <th>Type</th>
      <% pokemon_types = { 0 => "Normal", 1 => "Fighting", 2 => "Flying", 3 => "Poison", 4 => "Ground", 5 => "Rock", 7 => "Bug", 8 => "Ghost", 20 => "Fire", 21 => "Water", 22 => "Grass", 23 => "Electric", 24 => "Psychic", 25 => "Ice", 26 => "Dragon", 27 => "Dark", 28 => "Steel" } %>
      <% first_type = pokemon_types[gen2_pokemon.type1] %>
      <% second_type = pokemon_types[gen2_pokemon.type2] %>
      <td>
        <div class="types">
          <span class="type-icon type-<%= first_type.downcase %>"><%= first_type %></span>
          <% unless first_type == second_type %>
            <span class="type-icon type-<%= second_type.downcase %>"><%= second_type %></span>
          <% end %>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
