<p id="notice"><%= notice %></p>

<h1>Gen1 Entries</h1>

<table>
  <thead>
  <tr>
    <th>Playername</th>
    <th>Savefile</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% current_user.gen1_entries.each do |gen1_entry| %>
    <tr>
      <td><%= gen1_entry.playerName %></td>
      <td><%= gen1_entry.game.titleize %></td>
      <td><%= link_to gen1_entry.saveFile.filename, gen1_entry.saveFile if gen1_entry.saveFile.attached? %></td>
      <td><%= gen1_entry.gen1_hall_of_fame_entries.count > 0 ? "Beat elite 4" : "Hasn't beat elite 4" %></td>
      <td><%= link_to 'Show', gen1_entry %></td>
      <td><%= link_to 'Edit', edit_gen1_entry_path(gen1_entry) %></td>
      <td><%= link_to 'Destroy', gen1_entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gen1 Entry', new_gen1_entry_path %>
