<p id="notice"><%= notice %></p>

<p>
  <strong>Playername:</strong>
  <%= @gen1_entry.playerName %>
</p>

<p>
  <strong>Playtime:</strong>
  <% minutes, seconds = @gen1_entry.playtime.divmod(60) %>
  <% hours, minutes = minutes.divmod(60) %>
  <%= "#{hours.to_s.rjust(2, '0')}:#{minutes.to_s.rjust(2, '0')}:#{seconds.to_s.rjust(2, '0')}" %>
</p>

<p>
  <strong>Savefile:</strong>
  <%= link_to @gen1_entry.saveFile.filename, @gen1_entry.saveFile if @gen1_entry.saveFile.attached? %>
</p>

<p>
  <strong>Badges:</strong>
  <%= @gen1_entry.badges %>
</p>

<p>
  <strong>Party:</strong>
  <%= render @gen1_entry.party %>
</p>

<p>
  <strong>Hall of fame</strong>
  <%= render @gen1_entry.gen1_hall_of_fame_entries %>
</p>


<%= link_to 'Edit', edit_gen1_entry_path(@gen1_entry) %> |
<%= link_to 'Back', gen1_entries_path %>
