<div class="pokemon">
  <img class="pokemon-sprite" width="96" height="96" src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/<%= pokemon.pokemon_id %>.png"/>
  <ul>
    <li>pokemon id: <%= pokemon.pokemon_id %></li>
    <li>nickname: <%= pokemon.nickname %></li>
    <% unless pokemon.level.nil? %>
      <li>level: <%= pokemon.level %></li>
    <% end %>
    <% unless pokemon.max_hp.nil? %>
      <li>max_hp: <%= pokemon.max_hp %></li>
    <% end %>
    <li>current_hp: <%= pokemon.current_hp %></li>
    <% unless pokemon.max_hp.nil? %>
      <li><%= pokemon.current_hp %>/<%= pokemon.max_hp %> HP</li>
    <% end %>
    <% pokemon_types = { 0 => "Normal", 1 => "Fighting", 2 => "Flying", 3 => "Poison", 4 => "Ground", 5 => "Rock", 7 => "Bug", 8 => "Ghost", 20 => "Fire", 21 => "Water", 22 => "Grass", 23 => "Electric", 24 => "Psychic", 25 => "Ice", 26 => "Dragon" } %>
    <li>type1: <%= pokemon_types[pokemon.type1] %></li>
    <li>type2: <%= pokemon_types[pokemon.type2] %></li>
    <li>type1: <%= pokemon.type1 %></li>
    <li>type2: <%= pokemon.type2 %></li>
  </ul>
</div>