<div class="pokemon">
  <ul>
    <li>nickname: <%= pokemon.nickname %></li>
    <li>level: <%= pokemon.level %></li>
    <li>max_hp: <%= pokemon.max_hp %></li>
    <li>current_hp: <%= pokemon.current_hp %></li>
    <li>type1: <%= pokemon.type1 %></li>
    <li>type2: <%= pokemon.type2 %></li>
  </ul>
</div>